@model List<Service>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
        margin: 0;
        padding: 0;
    }
    form {
        margin-top: 200px;
        padding-top: 100px;
    }
    h1 {
        text-align: center;
        margin-top: 20px;
    }
    #inputForm {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    #inputQuestion {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    select,
    input[type="number"],
    input[type="text"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        transition: border-color 0.3s ease-in-out;
    }
    select:focus,
    input[type="number"]:focus,
    input[type="text"]:focus {
        border-color: #007BFF;
    }
    button {
        background-color: #007BFF;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }
    button:hover {
        background-color: #0056b3;
    }
    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }
</style>
<br>
<br>
<form id="inputForm" method="post" action="@Url.Action("renvoie","Service")">
    <h1>Service</h1>
        <label>Service</label>
        <div id="inputQuestion">
            <select name="nom">
                @foreach (var service in Model){
                    <option value="@service.id">@service.nom_service</option>
                }
            </select>
        </div>
        <br>
    <button type="submit" value="Valider">valider</button>
</form>

